<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Olimpiadas</title>
    <!-- Navegacion -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  </head>
  <body>

    <!-- Navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- <a class="navbar-brand" href="/">El Rancho - Olimpiadas 2018</a> -->
      <a class="navbar-brand" href="/">Inicio</a> 
      <a class="navbar-brand" href="/crud">Crud</a> 
    </nav>
    
